* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: 1fr 1fr 1fr;
}

.header {
    padding: 20px;
    grid-column: 1/4;
}

.gameBoard-container {
    width: 20rem;
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    outline: 1px solid black;
    width: 100%;
    font-size: 3rem;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}