* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

.gameBoard-container {
    width: 20rem;
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: stretch;
    text-align: center;
}

.cell {
    outline: 1px solid black;
    width: 100%;
    text-align: center;
    font-size: larger;
}