* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    gap: 10px;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: 1fr 1fr 1fr;
    background: rgb(3,84,101);
    background: radial-gradient(circle, rgba(3,84,101,1) 0%, rgba(0,252,188,1) 100%);
}

.header {
    padding: 20px;
    grid-column: 1/4;
    background-color: rgba(249, 249, 249, 0.215);
    justify-self: stretch;
    text-align: center;
}

.gameBoard-container {
    width: 20rem;
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    box-shadow: 2.5px 2.5px 7px black;
}

.cell {
    outline: 1px solid black;
    width: 100%;
    font-size: 3rem;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    display: grid;
    align-items: center;
    text-align: center;
}

.sidebar button {
    align-self: center;
    padding: 5px 10px;
    box-shadow: 2.5px 2.5px 7px black;
}